body{
  font-family: sans-serif;
  background-color: #fff;
  background-image: url("img/wp4676596-4k-pc-wallpapers.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*background-size: 100% auto;*/
  background-size: cover;
  color: #fff;
}
.header-text{
  text-align:center;
  margin-top:500px;
}
.header-text h1{
  font-size:200px;/*250*/
  margin:0px;
}
.head-bttn{
  display:inline-flex;
}
.blog-links-box textarea{
  font-size: 15px;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  border:2px solid #fff;
  border-radius:5px;
}
.sidebar-ico{
  position:fixed;
  margin:-8px;
  top:70%;
}
#codeberg img{
  width:50px;
  background-color:#2185d0;
  padding:12.5px;
}
#codeberg img:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#protonmail img{
  width:75px;
}
#protonmail img:hover{
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.myblog h2{
  font-size:45px;

}
.myblog{
  text-align:center;
}
.myblog h1{
  font-size:180px;
  margin:20px;
}
/*.myblog, .myblogs a{
  color:#fff;
}*/
.blog-links p{
  text-align:left;
  font-size:25px;
}
.blog-links a{
  color:#fff;
}
.blog-links ul{
  font-size: x-large;
  text-align:left;
}
.blog-links{
  display:inline-block;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #fff;
  border-radius:5px;
  padding:40px;
  margin:25px;
  width:35%;
}
/*.myblogs{
  text-align:center;
}
.myblogs h1{
  font-size:120px;
  margin:20px;
}
.myblogs h2{
  font-size:60px;
  margin:20px;
  padding:20px;
}*/

.head-bttn button{
  padding: 20px;
  border-radius: 5px;
  border: 2px solid #fff;
  color:#fff;
  background:rgba(0, 0, 0, 0.1);
  font-size:25px;
  margin:80px 20px 0px 20px;
}
.head-bttn button:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
.head-bttn a{
  color:#fff;
  text-decoration-line:none;
}
hr{
  width: 38%;
  border: 2px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
/*.aboutme h2{
  font-size:80px;
  text-align:center;
  margin-top:500px;
}
.aboutme-block{
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 15px;
  text-align:center;
  display:inline-flex;
  width:30%;
}
.aboutme-block img{
  width:200px;
}
.footer{
  text-align:center;
}*/

@media screen and (max-width: 1366px){

  .header-text{
    margin-top:250px;
  }
  .header-text h1{
    font-size:170px;
    margin:0px;
  }
  .head-bttn button{
    font-size:23px;
    margin:50px 20px 0px 20px;
  }
  #codeberg img{
    padding:8.5px;
  }
  #protonmail img{
    width:67px;
  }
  .myblog h1{
    font-size:130px;
  }
  .blog-links p{
    font-size:21px;
  }
  .myblog h2{
    font-size:37px;
  }
  .blog-links-box textarea{
    width:400px;
  }
}


@media screen and (max-width: 428px){
  body{
    background-size: cover;
  }
  .header-text h1{
    font-size:100px;
    margin:0px;
  }
  .sidebar-ico{
    top:80%;
  }
  .myblog h1{
    font-size:95px;
  }
  .blog-links{
    padding:20px;
    width:70%;
  }
  .blog-links p{
    font-size:20px;
  }
  .myblog h2{
    font-size:30px;
  }
  .blog-links-box textarea {
    width: 250px;
  }

}
